*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{
background:black;
color:white;
overflow-x:hidden;
}

/* NAVBAR */
.navbar{
position:absolute;
top:20px;
right:40px;
z-index:10;
}

.navbar button{
background:rgb(242, 224, 224);
color:rgb(0, 0, 0);
border:1px solid gold;
padding:10px 22px;
margin-left:12px;
cursor:pointer;
font-size:19px;
transition:.4s;
}

.navbar button:hover{
background:gold;
color:black;
box-shadow:0 0 15px gold;
}

/* SLIDER */
.slider{
position:relative;
width:100%;
height:100vh;
overflow:hidden;
}

.slide{
position:absolute;
width:100%;
height:100%;
opacity:0;
transition:opacity 1s ease-in-out;
}

.slide img{
width:100%;
height:100%;
object-fit:cover;
}

.active{
opacity:1;
}

/* OVERLAY */
.overlay{
position:absolute;
top:0;
left:0;
width:50%;
height:100%;
background:linear-gradient(to right, rgba(0,0,0,0.9), transparent);
z-index:2;
display:flex;
flex-direction:column;
justify-content:center;
padding-left:80px;
}

/* TITLE */
.title{
font-family:'Playfair Display', serif;
font-size:90px;
color:gold;
letter-spacing:3px;
margin-bottom:15px;

}

/* TAGLINE */
.tagline{
font-size:20px;
color:#eee;
max-width:450px;
line-height:1.6;
}

/* ARROWS */
.arrow{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:40px;
color:white;
cursor:pointer;
padding:10px;
z-index:5;
transition:.3s;
}

.arrow:hover{
color:gold;
}

.left{ left:20px; }
.right{ right:20px; }

/* DOTS */
.dots{
position:absolute;
bottom:25px;
width:100%;
text-align:center;
z-index:5;
}

.dot{
height:12px;
width:12px;
margin:0 6px;
background:#bbb;
border-radius:50%;
display:inline-block;
cursor:pointer;
transition:.3s;
}

.dot.active,
.dot:hover{
background:gold;
transform:scale(1.2);
}

/* RESPONSIVE */
@media(max-width:768px){

.overlay{
width:100%;
padding-left:30px;
background:linear-gradient(to right, rgba(0,0,0,0.95), rgba(0,0,0,0.4));
}

.title{
font-size:42px;
}

.tagline{
font-size:16px;
}

}